# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include themes.yaml

lovelace:
  resource_mode: yaml
  dashboards:
    skynet-board:
      mode: yaml
      title: Skynet
      icon: mdi:view-dashboard
      show_in_sidebar: true
      filename: dashboards/skynet.yaml
    skynet-mobile:
      mode: yaml
      title: Mobile
      icon: mdi:view-compact
      show_in_sidebar: true
      filename: dashboards/skynet_mobile.yaml

# Text-to-speech
tts:
  - platform: google_translate

automation ui: !include automations.yaml
automation manual: !include_dir_merge_list automations/

script ui: !include scripts.yaml
script manual: !include_dir_merge_named scripts/

#scene ui: !include scenes.yaml
scene manual: !include_dir_merge_list scenes/

homeassistant:
  external_url: !secret external_url
  customize: !include configuration/customize.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24
    - 172.30.33.0/24

recorder:
  exclude: !include configuration/exclude.yaml

logbook:
  exclude: !include configuration/exclude.yaml

influxdb:
  username: !secret influxdb_user
  password: !secret influxdb_password
  max_retries: 3
  default_measurement: state
  exclude: !include configuration/exclude.yaml

input_select:
  pioneer_source:
    name: "Pioneer Source"
    icon: "mdi:import"
    options:
      - "Google TV"
      - "DVB-T2"
      - "PC"
      - "Front AUX"
      - "Projector"
      - "Radio FM"
      - "Network"
  media_radio_net:
    name: Radio NET
    options: # Populate options dynamically on startup from `entities/media_radio_net_stations.yaml`
      - "Other"
    icon: "mdi:music-box"
#  pc_power_mode:
#    name: "PC power mode"
#    options:
#      - "Power on"
#      - "Lock"
#      - "Hibernate"
#      - "Power off"

media_player: !include configuration/media_player.yaml

counter:
  switches_enabled:
    name: Count enabled switches
    minimum: 0

input_boolean:
  lights_dim:
    name: Lights Dim
    icon: "mdi:theme-light-dark"
  lights_motion:
    name: Lights Motion
    icon: "mdi:motion"
  presence_announce:
    name: Presence Announce
    icon: "mdi:human-greeting-variant"
  presence_lights:
    name: Presence Lights
    icon: "mdi:lightbulb-auto"
  presence_speakers:
    name: Presence Speakers
    icon: "mdi:speaker-multiple"
  presence_stand_up:
    name: Presence Stand Up
    icon: "mdi:human-handsup"
  fan_audio_cabinet_auto:
    name: Fan Audio Cabinet - auto speed
    icon: "mdi:fan-auto"

sensor:
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
  - platform: derivative
    source: sensor.shower_humidity
    name: Shower humidity derivative
    time_window: "00:15:00"

input_number:
  remote_menu_level:
    name: Remote Menu Level
    min: 0
    max: 8 # 0-8 for the main menus
    step: 1
    initial: 0
  remote_submenu_selection:
    name: Remote Submenu Selection
    min: 0
    max: 10 # Adjust max based on the largest number of sub-options in any menu
    step: 1
    initial: 0

input_datetime:
  remote_last_button_press:
    name: Remote Last Button Press
    has_date: true
    has_time: true

# Shell commands require manual ssh config as they work in a separate hass core docker container (shared volume)
shell_command:
  nspanel_pwd: 'ssh -F /config/.ssh/config nspanel "pwd"'
  nspanel_home: 'ssh -F /config/.ssh/config nspanel "ANDROID_DATA=/data input keyevent 3"'
  nspanel_screen: 'ssh -F /config/.ssh/config nspanel "ANDROID_DATA=/data input keyevent 26"'
  nspanel_ps: 'ssh -F /config/.ssh/config nspanel "ps -A | grep homeassistant"'
  pc_win32: 'ssh -F /config/.ssh/config pc "wmic os get caption"'
  pc_hibernate: 'ssh -F /config/.ssh/config pc "schtasks /run /tn HibernatePC"'

timer:
  pc_countdown:
    name: PC countdown until power OFF

template: !include_dir_merge_list templates/

